In [31]:
"""
#Pooneh
SDEV 220
CH11
"""

#11.1 Create a file called zoo.py. In it, define a function called hours() that prints the string 'Open 9-5 daily'. Then, use the interactive interpreter to import the zoo module and call its hours() function.


def hours():
    Open("9-5 daily")
    
import zoo
zoo.hours()
Open ("9-5 daily")

ModuleNotFoundError: No module named 'zoo'

In [29]:
#11.2 In the interactive interpreter, import the zoo module as menagerie and call its hours() function.


import zoo as menagerie
menagerie.hours()
Open 9-5 daily

SyntaxError: invalid syntax (4086679915.py, line 6)

In [33]:
#16.3 Create a CSV file called books2.csv by using these lines

import csv

data = [['title', 'author', 'year'],
        ['The Weirdstone of Brisingamen', 'Alan Garner', 1960],
        ['Perdido Street Station', 'China Mi√©ville', 2000],
        ['Thud!', 'Terry Pratchett', 2005],
        ['The Spellman Files', 'Lisa Lutz', 2007],
        ['Small Gods', 'Terry Pratchett', 1992]]

# Write the data to the CSV file
with open('books2.csv', 'w', newline='') as csvfile:
    writer = csv.writer(csvfile)
    writer.writerows(data)

print('books2.csv file has been created successfully!')

books2.csv file has been created successfully!

In [37]:
#16.4 Use the sqlite3 module to create a SQLite database called books.db and a table called books with these fields: title (text), author (text), and year (integer).

import sqlite3

conn = sqlite3.connect('books.db')
c = conn.cursor()

# Create 'books' table
c.execute('''CREATE TABLE IF NOT EXISTS books
             (title TEXT, author TEXT, year INTEGER)''')

# Commit changes and close connection
conn.commit()
conn.close()

In [41]:
#16.5 Read books2.csv and insert its data into the book table.


import sqlite3
import csv

conn = sqlite3.connect('books.db')
c = conn.cursor()

# CSV file
with open('books2.csv', 'r', newline='') as csvfile:
    reader = csv.reader(csvfile)
    next(reader)  # Skip header row
    for row in reader:
        title = row[0]
        author = row[1]
        year = int(row[2])
        
        c.execute("INSERT INTO books (title, author, year) VALUES (?, ?, ?)",
                  (title, author, year))

conn.commit()
conn.close()

print('Data from books2.csv has been inserted into the books table successfully!')

Data from books2.csv has been inserted into the books table successfully!

In [46]:
#16.8 Use the sqlalchemy module to connect to the sqlite3 database books.db that you just made in exercise 16.4. As in 16.6, select and print the title column from the book table in alphabetical order.

from sqlalchemy import create_engine, Column, Integer, String
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy.orm import sessionmaker

Base = declarative_base()
class Book(Base):
    __tablename__ = 'books'
    id = Column(Integer, primary_key=True)
    title = Column(String)
    author = Column(String)
    year = Column(Integer)

engine = create_engine(sqlite:///books.db)
Base.metadata.create_all(engine)
Session = sessionmaker(bind=engine)
session = Session()

SyntaxError: invalid syntax (476018665.py, line 15)